body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}
.top-bar {
  width: 100%;
  background-color: orangered;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.top-bar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.top-bar a:hover {
  text-decoration: underline;
}

.content {
  padding: 20px;
  text-align: center;
}
