body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.light-mode {
  background-color: #fff;
    color:  #000;  
    min-height: 100vh;
}
.dark-mode {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
} 
nav {
  background-color: #6200ea;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 12;
  margin: 100;
}

nav ul li {
  margin: 0 1rem;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}

nav ul li a:hover {
  text-decoration: underline;
}

/*button {
  background-color: #03dac6;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 1rem;
}

button:hover {
  background-color: #018786;
}*/
.category-movies img {
  height: 225px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}
      
.category-movies img:hover {
  transform: scale(1.1);
}
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
      

