body {
  margin: 0;
  padding:0;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}
.light-mode {
  background-color: #fff;
    color:  #000;  
    min-height: 100vh;
}
.dark-mode {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
} 

//* Navigation Bar */
.nav-bar {
  background-color: #6200ea;
  padding: 1rem;
  display: flex;
  justify-content: center; /* Center the links horizontally */
  align-items: center; /* Center the links vertically */
  position: sticky; /* Keep the bar at the top */
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
}

/* Navigation Links */
.nav-bar ul {
  display: flex;
  gap: 2rem; /* Space between links */
  list-style: none; /* Remove bullets */
  margin: 0;
  padding: 0;
}

.nav-bar ul li a.nav-link {
  text-decoration: none; /* Remove underline */
  color: orange; /* Make links orange */
  font-weight: bold; /* Bold text */
  transition: color 0.3s ease;
}

.nav-bar ul li a.nav-link:hover {
  color: darkorange; /* Change color on hover */
  text-decoration: underline; /* Optional hover effect */
}

.category-movies img {
  height: 0;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}
      
.category-movies img:hover {
  transform: scale(1.1);
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-item {
  width: 200px;
  text-align: center;
}

.movie-item img {
  width: 100%;
  border-radius: 8px;
}

.movie-item h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.movie-item p {
  font-size: 0.9rem;
  color: #555;
}
.app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
 /* visibility: visible !important; 
  opacity: 1 !important; */       
}

.left-sidebar {
   width: 250px; 
  padding: 1rem;
  border-right: 1px solid #ccc; 
}

.main-content {
  flex: 1;
  padding: 1rem;
}

