/* Layout */
.app-container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: flex-start;
}

.left-sidebar {
  width: 20%;
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}



  .right-sidebar {
    width: 350px; /* Fixed width for the right sidebar */
    padding: 20px;
    background-color: #f1f1f1; /* Light gray background */
    border-left: 1px solid #ccc; /* Separate with a border */
    margin-left: auto; /* Push the sidebar to the right */
}
